*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
/* header */
header{
    background-color: #4ea0ff;

}

.banner{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}

#logo{
    width: 350px;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 15px;
    
}

/* main */
.container{
    margin-left: 14px;
}

h1{
    font-size: 45px;
}

.crediti{
    color: gray;
}

#author{
    color:#4ea0ff;
}

.data{
    font-size: 10px;
    color: gray;
}

.caption{
    font-size: 12px;
}

.article{
    margin-top: 15px;
    margin-bottom: 15px;
}

.highlighted{
    background-color: yellow;
}

.list{
    margin-left: 14px;
}

/* table */
table{
    margin-top: 20px;
    margin-bottom: 20px;

}

.t-head{
    color: white;
    background-color: #20a9e5;
}

#t-h1{
    width: 20%;
    text-align: left;
}

#t-h3{
    width: 50%;
    text-align: left;
}

.pari{
    margin-top: 10px;
    margin-bottom: 10px;

}

.dispari{
    background-color: #b1e5f2;
};

}