*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    
}

body{
    background-color: #b1e5f2;
}
/* header */
header{
    background-color: #20a9e5;

}

.banner{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    padding-left: 15px;
}

#logo{
    width: 250px;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 15px;
    
}

/* main */
.container{
    padding: 30px 30px;
    margin: 20px 30px;
    background-color: white;
    background-size: contain;
    border-radius: 20px;
}

h1{
    font-size: 43px;
    font-family: sans-serif;
}

h1:hover{
    text-decoration: underline;
    color: #20a9e5;
}

.crediti{
    color: gray;
    font-style: italic;
}

#author{
    color:#4ea0ff;
    font-weight: bold;
}

.data{
    font-size: 10px;
    color: gray;
    margin-bottom: 5px;
}

.art-img{
    width: 368px;
    height: 239px;
}

.caption{
    font-size: 12px;
    color: gray;
}

.article{
    margin-top: 15px;
    margin-bottom: 15px;
}

.highlighted{
    text-decoration: underline;
}

.highlighted:hover{
    background-color: yellow;
}

.list{
    margin-left: 14px;
}

/* table */
table{
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;

}

.t-head{
    color: white;
    background-color: #20a9e5;
}

#t-h1{
    width: 20%;
    text-align: left;
}

#t-h3{
    width: 50%;
    text-align: left;
}

.pari{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dispari{
    background-color: #b1e5f2;
};

/* footer */


h3{
    color: gray;
}

.foot-article{
    margin-right: 100px;
}

#secondo-art{
    color: white;
    margin-top: 25px;
    margin-right: 25px;
    padding: 10px;
    background-image: url(../img/monitor.jpg);
    width: 260px;
    height:200px;
    background-size: cover;
    display: inline-block;
    
}

#terzo-art{
    color: white;
    padding: 10px;
    margin-top: 25px;
    margin-right: 25px;
    background-image: url(../img/graph.jpg);
    width: 260px;
    height:200px;
    background-size: cover;
    display: inline-block;
    
}